a.out
.vscode
*.o

megaphone
conway
phonebook
bank_manager
zombie
zombieHorde
hi_this_is_brain
unnecessary_violence
sed_sucks
example_input.txt.replace
harl
harlFilter
its_canon
super_duper_useful
now_were_talking
buy_gold_bye
clappinAndTrappin
clappinAndScavvinAndTrappin
clappinAndScavvinAndFragginAndTrappin
clappinAndScavvinAndFragginAndDiamondinAndTrappin
polymorphism
